.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}
.rmdcaution {
  background-image: url("../images/caution.png");
}
.rmdimportant {
  background-image: url("../images/important.png");
}
.rmdnote {
  background-image: url("../images/note.png");
}
.rmdtip {
  background-image: url("../images/tip.png");
}
.rmdwarning {
  background-image: url("../images/warning.png");
}
.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.flushright {
  text-align: right;
}
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}
.header-section-number {
  padding-right: .2em;
  font-weight: 500;
}
.level1 .header-section-number {
  display: inline-block;
  border-bottom: 3px solid;
}
.level1 h1 {
  border-bottom: 1px solid;
}
h2, h3, h4, h5, h6 {
  font-weight: normal;
}
.title {
  font-weight: 700;
}
.smallcaps {
  font-variant: small-caps;
}
.book .book-body .page-wrapper .page-inner .normal strong {
  font-weight: 600;
}


/* -----------div tips------------- */
/* https://desiree.rbind.io/post/2019/making-tip-boxes-with-bookdown-and-rmarkdown/#fn1 */
.note, .extra {
    margin: 0 0;
    padding-left: 10px;
    padding-right: 10px;
    background-size: 0;
    background-repeat: no-repeat;
    background-position: 0 center;
    min-height: 120px;
    /* color: #1f5386; */
    /* background-color: #CFDBC5; */
    border-radius: 10px;
    border: solid 5px #488214;
}



/* Banner for book purchase - Simple, light background with black text */
.book-banner {
  background: #f0f4f8;  /* Light blue-gray background */
  color: #000;  /* Black text */
  padding: 12px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-size: 15px;
  line-height: 1.6;
  border-bottom: 1px solid #d0d7de;
}

.banner-content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

/* Simple black text links with underline */
.book-banner a {
  color: #000;  /* Black text */
  text-decoration: underline;
  font-weight: 600;
  transition: opacity 0.2s;
}

.book-banner a:hover {
  opacity: 0.7;
}

.banner-close {
  background: transparent;
  border: 1px solid #999;
  color: #000;
  font-size: 20px;
  line-height: 1;
  padding: 2px 8px;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 12px;
  transition: all 0.2s;
}

.banner-close:hover {
  background: #e0e0e0;
  border-color: #666;
}

/* Fix for code copy button to exclude fold button text */
.sourceCode {
  position: relative;
}

/* Ensure code folding buttons don't interfere with copying */
pre.sourceCode::before,
pre.sourceCode::after {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fold-hide, .fold-show {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/* Style for code fold buttons */
.sourceCode .fold-hide::before,
.sourceCode .fold-show::before {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Make code folding button text completely non-selectable */
.code-folding-btn,
.code-folding-btn span,
.code-folding-btn * {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/* Ensure code content IS selectable */
.sourceCode code,
pre code,
.hljs {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}
